.Modal {
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.ModalContent {
  position: absolute;
  width: 500px;
  top: 50%;
  left: 50%;
  padding: 16px;
  background-color: white;
  border: none;
  box-shadow: 1px 1px 1px black;
  transform: translate(-50%, -100vh);
  transition: all 300ms ease-in-out;

  &.entered,
  &.exited {
    transform: translate(-50%, -50%);
  }
}